<nz-alert
    *ngIf="message"
    data-cy="reset-password-success"
    nz-row
    nzType="success"
    nzCloseable
    [nzMessage]="message"
    class="full-width"
>
</nz-alert>

<div class="buttons-container" style="display: table;" *transloco="let t">
    <button
        data-cy="login-button"
        nz-button
        nzType="primary"
        [nzSize]="'big'"
        nzShape="round"
        (click)="onLogin()"
    >
        <i nz-icon nzType="user"></i>{{ t('login') }}
    </button>

    <button
        data-cy="signup-button"
        nz-button
        nzType="secondary"
        [nzSize]="'big'"
        nzShape="round"
        (click)="onSignUp()"
    >
        <i nz-icon nzType="user-add"></i>{{ t('register') }}
    </button>
</div>

<img src="assets/logo.png" alt="Logo" class="center" />

<div class="buttons-container" style="display: table;" *transloco="let t">
    <button
        data-cy="login-button"
        nz-button
        nzSize="small"
        nzType="link"
        (click)="onSetLanguage('ru')"
    >
        Русский
    </button>

    <button
        data-cy="login-button"
        nz-button
        nzSize="small"
        nzType="link"
        (click)="onSetLanguage('en')"
    >
        English
    </button>
</div>
