<nz-alert
    *ngIf="queryEvent === 'reset-password-success'"
    data-cy="reset-password-success"
    nz-row
    nzType="success"
    nzCloseable
    nzMessage="Password reset! You can login now."
    class="full-width"
>
</nz-alert>

<div class="buttons-container" style="display: table;">
    <button
        data-cy="login-button"
        nz-button
        nzType="primary"
        [nzSize]="'big'"
        nzShape="round"
        (click)="onLogin()"
    >
        <i nz-icon nzType="user"></i>Login
    </button>

    <button
        data-cy="signup-button"
        nz-button
        nzType="secondary"
        [nzSize]="'big'"
        nzShape="round"
        (click)="onSignUp()"
    >
        <i nz-icon nzType="user-add"></i>Register
    </button>

    <!--
    <button
        data-cy="logout-button"
        nz-button
        nzType="secondary"
        [nzSize]="'big'"
        nzShape="round"
        (click)="onLogout()"
    >
        <i nz-icon nzType="user"></i>Logout
    </button>
--></div>

<img src="assets/logo.png" alt="Logo" class="center" />
