# here we are configuring log levels
log-config-on-start = on
stdout-loglevel = INFO
loglevel = ERROR
# this config section will be referenced as akka.actor
actor {
  debug {
      receive = on
      autoreceive = on
      lifecycle = on
      event-stream = on
      unhandled = on
  }
}

# Configure journal
akka.persistence.journal.plugin = akka.persistence.journal.azure-table
akka.persistence.journal.azure-table.connection-string = "DefaultEndpointsProtocol=https;AccountName=prr7storaged1e602fb;AccountKey=5Lzgvm2wWfwaBTBTPeq8m6knB83b8gCK5RCAzi1yY83AHkzcgTlOw6Vx9w+KPhMajcWU+QH2yjF7knDkaLLipA==;EndpointSuffix=core.windows.net"
akka.persistence.journal.azure-table.table-name = "stg7sys7journal"
akka.persistence.journal.azure-table.class = "Akka.Persistence.Azure.Journal.AzureTableStorageJournal, Akka.Persistence.Azure"

# Configure snapshots
akka.persistence.snapshot-store.plugin = akka.persistence.snapshot-store.azure-blob-store
akka.persistence.snapshot-store.azure-blob-store.connection-string = "DefaultEndpointsProtocol=https;AccountName=prr7storaged1e602fb;AccountKey=5Lzgvm2wWfwaBTBTPeq8m6knB83b8gCK5RCAzi1yY83AHkzcgTlOw6Vx9w+KPhMajcWU+QH2yjF7knDkaLLipA==;EndpointSuffix=core.windows.net"
akka.persistence.snapshot-store.azure-blob-store.container-name = "stg7sys7snapshots"
akka.persistence.snapshot-store.azure-blob-store.class = "Akka.Persistence.Azure.Snapshot.AzureBlobSnapshotStore, Akka.Persistence.Azure"

